.cardStyle {
    background-color: #fff;
    color: rgb(43, 43, 43);
    border-color: darkblue;
    border-width: 2px;
  }

  .cardContent {
    margin: 10;
    padding: 5;
    font-weight: bold;
    font-size: 15;
    height: 140vh;
  }
